.about-section {
    padding-top: 63.24px;
    padding-bottom: 88px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.about-content {
    font-size: 22px;
    line-height: 1.7;
    width: 100%;
    max-width: 709px;
}

.about-content p {
    margin-bottom: 40px;
}

.about-content p:last-child {
    margin-bottom: 0px;
}

.about-content span {
    font-weight: 600;
    text-transform: capitalize;
}

.about-img-before,
.about-img-after {
    position: relative;
}

.about-img-after {
    padding-top: 40px;
    padding-left: 172px;
}

.about-img-before::after,
.about-img-after::before,
.about-img-after::after {
    position: absolute;
    background-repeat: no-repeat;
    content: '';
}

.about-img-before::after {
    background-image: url(../images/Star-middle-blue.svg);
    width: 40px;
    height: 40px;
    top: 32px;
    right: -27px;
    animation: scale-spin1 0.5s linear;
}

@keyframes scale-spin1 {
    0% {
        transform: rotate(0) scale(1);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}

.about-img-after::before {
    background-image: url(../images/Star-large-darkblue.svg);
    width: 64px;
    height: 64px;
    top: 22px;
    right: 303px;
    animation: scale-spin3 0.5s linear 0.7s;
}

@keyframes scale-spin3 {
    0% {
        transform: rotate(0) scale(1);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}

.about-img-after::after {
    background-image: url(../images/Star-small-grey.svg);
    width: 16px;
    height: 16px;
    top: -77px;
    right: 0px;
    animation: scale-spin2 0.5s linear 0.3s;
}

@keyframes scale-spin2 {
    0% {
        transform: rotate(0) scale(1);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}