.advantages-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary-light);
    border-radius: 32px;
    padding: 24px 32px;

    &__image {
        width: 48px;
        height: 48px;
        margin-bottom: 8px;
    }
    
    &__text {
        width: 252px;
        height: 72px;
        margin: 0;
        text-align: center;
    }
}