.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(137, 149, 167, 0.5);
    z-index: 2;
    padding: 20px 0;
    transition: opacity .3s, visibility .3s;

        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
}

.modal {
    position: relative;

        &__btn-close {
            position: absolute;
            top: 42px;
            right: 42px;
            border: none;
            background-color: transparent;
            fill: var(--color-secondary-light);

            &:hover {
                cursor: pointer;
            }
        }
}

