.procedures-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.procedures-cards {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 16px;
}

.procedures-item {
    position: relative;
    flex-basis: calc((100% - 32px)/3);
    height: 456px;
    color: var(--color-secondary-light);
    border-radius: 4px 120px;
    background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0) 55%,
            rgba(1, 28, 68, 0.71) 85%,
            rgba(1, 28, 68, 1) 100%);
    transition: transform .3s;
}

.procedures-item:hover {
    transform: scale(1.05);
}

.procedures-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px 120px;
    z-index: -1;
}

.procedures-section {
    padding: 48px 0;
}

h3 {
    margin: 372px 77px 32px 115px;
    width: 100%;
    max-width: 152px;
    max-height: 52px;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 1px solid var(--color-primary-dark);
    border-radius: 50%;
    background-color: transparent;
    fill: var(--color-primary-dark);
    flex-shrink: 0;
    transition: background-color .3s, fill .3s;
}

.carousel-button:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    fill: var(--color-secondary-light);
}